@import 'tailwindcss'; 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --white: #ffffff;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-geist-sans);
  margin: 0;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#09090a];
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#2e3d5b] rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-[#7878a3];
}

.text-28-semibold {
  @apply text-[28px] font-semibold;
}

.text-10-regular {
  @apply text-[10px] font-normal;
}

.gradient-blue {
  @apply bg-gradient-to-t from-blue-500 to-blue-400;
}

.gradient-red {
  @apply bg-gradient-to-t from-red-500 to-red-400;
}

.shad-dialog {
  @apply w-full max-w-[400px] rounded-xl border-0 bg-cover bg-center p-7 shadow-lg;
  background-image: url('/path-to-bg-doc.jpg');
}

.shad-dialog button {
  @apply outline-none border-0;
}

.shad-select {
  @apply w-fit border-0 bg-transparent text-blue-500;
}

.shad-select svg {
  @apply ml-1 mt-1;
}

.shad-select-item {
  @apply cursor-pointer bg-[#1a1a1a] text-blue-500;
}

.shad-select-item:hover,
.shad-select-item:focus {
  @apply bg-[#2e2e2e] text-blue-500;
}

.shad-popover {
  @apply w-[460px] border-0 bg-[#1a1a1a] shadow-md;
}

.floating-toolbar {
  @apply flex w-full min-w-max items-center justify-center gap-2 rounded-md bg-[#3a3a3a] p-1.5 shadow-lg;
}

.floating-toolbar-btn {
  @apply inline-flex w-8 h-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors outline-none;
}

.floating-toolbar-btn:disabled {
  @apply pointer-events-none opacity-50;
}

.toolbar-wrapper {
  @apply z-50 w-screen overflow-auto border-y border-[#4a4a4a] bg-[#09111f] pl-3 pr-4 shadow-sm;
}

.editor-wrapper {
  @apply h-[calc(100vh-140px)] gap-5 overflow-auto p-5 pt-5;
}

@media (min-width: 1024px) {
  .editor-wrapper {
    @apply flex-row items-start justify-center gap-10 pt-10;
  }
}

.heading {
  @apply bg-[#09111f] w-full p-8 text-5xl text-center font-bold text-white;
}

.document-list-container {
  @apply flex flex-col items-center mb-10 w-full gap-10 px-5;
}

.document-list-title {
  @apply max-w-[730px] w-full flex items-end justify-between;
}

.document-list-item {
  @apply flex items-center justify-between gap-4 rounded-md bg-cover bg-center p-5 shadow-lg;
  background-image: url('/path-to-bg-doc.jpg');
}

.document-list-empty {
  @apply flex w-full max-w-[730px] flex-col items-center justify-center gap-5 rounded-md bg-[#1a1a1a] p-8 px-10;
}

.document-title-input {
  @apply flex-1 min-w-[78px] border-0 bg-transparent p-0 text-left text-base font-semibold leading-6 outline-none;
}

@media (min-width: 640px) {
  .document-title-input {
    @apply text-xl text-center;
  }
}

.document-title {
  @apply overflow-hidden border-[#4a4a4a] text-base font-semibold leading-6;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 640px) {
  .document-title {
    @apply text-xl pl-0;
  }
}

.view-only-tag {
  @apply rounded-md bg-[rgba(74,74,74,0.5)] px-2 py-0.5 text-xs text-blue-500/50;
}

.collaborators-list {
  @apply hidden items-center justify-end -ml-3 overflow-hidden;
}

@media (min-width: 640px) {
  .collaborators-list {
    @apply flex;
  }
}

.share-input {
  @apply h-11 flex-1 border-0 bg-[#4a4a4a] outline-none;
}

.remove-btn {
  @apply rounded-md bg-transparent p-0 text-red-500 hover:bg-transparent;
}

.comments-container {
  @apply mb-10 flex flex-col items-center justify-center gap-4;
}

@media (min-width: 1024px) {
  .comments-container {
    @apply w-fit;
  }
}

.loader {
  @apply flex w-full h-screen items-center justify-center gap-3 text-white;
}

.auth-page {
  @apply flex h-screen w-full flex-col items-center justify-center gap-10;
}

.home-container {
  @apply relative flex min-h-screen w-full flex-col items-center gap-5;
}

@media (min-width: 640px) {
  .home-container {
    @apply gap-10;
  }
}

.document-ul {
  @apply flex w-full max-w-[730px] flex-col gap-5;
}

.collaborative-room {
  @apply flex w-full h-full max-h-screen flex-1 flex-col items-center overflow-hidden;
}

.pink_container {
  @apply flex w-full h-[35rem] flex-col items-center justify-center bg-red-400;
}